@model Metier.Domaine.Ticket

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ticket</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Type de ticket</label>
        <div class="col-md-10">
            @Html.DropDownList("TypeID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Resumé</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Resume, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Resume, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Description</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Utilisateur</label>
        <div class="col-md-10">
            @Html.DropDownList("UtilisateurID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UtilisateurID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Application</label>
        <div class="col-md-10">
            @Html.DropDownList("ApplicationID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ApplicationID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Assistant</label>
        <div class="col-md-10">
            @Html.DropDownList("AssistantID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AssistantID, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--
    <div class="form-group">
       <label class = "control-label col-md-2">Piece Jointe</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PieceJointeID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PieceJointeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
       <label class = "control-label col-md-2">Historique</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.HistoriqueID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.HistoriqueID, "", new { @class = "text-danger" })
        </div>
    </div>
        -->

    <div class="form-group">
        <label class="control-label col-md-2">Catégorie</label>
        <div class="col-md-10">
            @Html.DropDownList("CategorieID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategorieID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Priorité</label>
        <div class="col-md-10">
            @Html.DropDownList("PrioriteID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PrioriteID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Résolution</label>
        <div class="col-md-10">
            @Html.DropDownList("ResolutionID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ResolutionID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Statut</label>
        <div class="col-md-10">
            @Html.DropDownList("StatutID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StatutID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Environnement</label>
        <div class="col-md-10">
            @Html.DropDownList("EnvironnementID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.EnvironnementID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Criticité</label>
        <div class="col-md-10">
            @Html.DropDownList("CriticiteID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CriticiteID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
