@model IEnumerable<Metier.Domaine.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Applications.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PieceJointe.Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEcheance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priorite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Environnement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criticite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Applications.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PieceJointe.Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEcheance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priorite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resolution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Environnement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Criticite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketID })
        </td>
    </tr>
}

</table>
